<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/all-cards-ordered.css" />
    <link rel="icon" type="image/png" href="/images/Logo_RMGe_icon.png" />
    <title><%= pageTitle %></title>
  </head>

  <body>
    <%- include('../partials/navbar') %>
    <div class="container">
      <h1>Pessoas Produtoras (A - Z)</h1>

      <%initialLetters = Object.keys(pessoasProdutoras).sort();
      if(initialLetters.length > 0) { initialLetters.forEach(letter => { const
      producersInSection = pessoasProdutoras[letter]; %>

      <section class="same-initial-section">
        <h2 id="letter-<%= letter %>" class="letter-title"><%= letter %></h2>

        <div class="objects-grid">
          <% producersInSection.forEach(producer => { %>
          <div class="object-card">
            <h4>
              <a href="/person-details/<%= producer._id %>"> <%= producer.nome %> </a>
            </h4>
            <p>
              <%= producer.local_de_nascimento ? producer.local_de_nascimento : 'N/A' %>
            </p>
          </div>
          <% }); %>
        </div>
      </section>

      <% }); %> <% } else { %>
      <p>Nenhuma pessa produtora encontrado no banco de dados.</p>
      <% } %>
    </div>
    <body></body>
  </body>
</html>