<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/all-cards-ordered.css" />
    <link rel="icon" type="image/png" href="/images/Logo_RMGe_icon.png" />
    <title><%= pageTitle %></title>
  </head>

  <body>
    <%- include('../partials/navbar') %>
    <div class="container">
      <h1>Séries (A - Z)</h1>

      <%initialLetters = Object.keys(series).sort();
      if(initialLetters.length > 0) { initialLetters.forEach(letter => { const
      showsInSection = series[letter]; %>

      <section class="same-initial-section">
        <h2 id="letter-<%= letter %>" class="letter-title"><%= letter %></h2>

        <div class="objects-grid">
          <% showsInSection.forEach(show => { %>
          <div class="object-card">
            <h4>
              <a href="/show-details/<%= show._id %>"> <%= show.nome %> </a>
            </h4>
            <% 
                const anoFim = show.ano_de_fim ? show.ano_de_fim : 'Presente';
            %>
            <p>
              (<%= show.ano_de_inicio%> - <%= anoFim %>)
            </p>
          </div>
          <% }); %>
        </div>
      </section>

      <% }); %> <% } else { %>
      <p>Nenhuma série encontrada no banco de dados.</p>
      <% } %>
    </div>
    <body></body>
  </body>
</html>