<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/media-details.css" />
    <link rel="icon" type="image/png" href="/images/Logo_RMGe_icon.png">
    <title><%= pageTitle %></title>
  </head>

  <body>
    <%- include('../partials/navbar') %>
    <div class="container">
      <h1><%= serie.nome %></h1>
      <div class="media-details">
        <p>
          <strong>Ano:</strong>
          <%= serie.ano_de_inicio %> <% if (serie.ano_de_fim) { %> - <%=
          serie.ano_de_fim %> <% } else { %> - Presente <% } %>
        </p>
        <p>
          <strong>Nota Média:</strong>
          <%= parseFloat(serie.nota).toFixed(1) %> / 10
        </p>
        <p>
          <strong>Temporadas:</strong>
          <%= temporadas ? temporadas.length : 0 %>
        </p>
        <p><strong>Gênero:</strong>
          <%= genero && genero.length > 0 ? genero.map(g => g.genero).join(', ') : "N/A" %>
        </p>
        <p>
          <strong>Faturamento:</strong>
          $ <%= serie.faturamento.toLocaleString('pt-BR') %>
        </p>
        <h3>Sinopse</h3>
        <p><%= serie.sinopse %></p>
      </div>

      <div class="temporadas-container">
        <h3 class="temporada-titulo">Temporadas</h3>

        <% if (temporadas && temporadas.length > 0) { %> <%
        temporadas.forEach((temporada, index) => { %>
        <div class="temporada-card">
          <div class="temporada-header">
            Temporada <%= index + 1 %> (<%= temporada.ano %>)
            <div class="episodio-details">
              <%= temporada.episodios.length %> episódio(s)
            </div>
          </div>

          <ul class="episodios-lista">
            <% if (temporada.episodios && temporada.episodios.length > 0) { %>
            <% temporada.episodios.forEach((episodio, epIndex) => { %>
            <li class="episodio-item">
              <span class="episodio-details">
                T<%= index + 1 %>:E<%= epIndex + 1 %>
              </span>
              <span class="episodio-titulo">
                <a
                  href="/show/<%= temporada.serie_id %>/episode/<%= episodio._id %>"
                >
                  <%= episodio.titulo %>
                </a>
              </span>
              <span class="episodio-details">
                (<%= episodio.tempo_de_duracao %> min)
              </span>
            </li>
            <% }); %> <% } else { %>
            <li>Nenhum episódio encontrado para esta temporada.</li>
            <% } %>
          </ul>
        </div>
        <% }); %> <% } else { %>
        <p>Informações de temporadas e episódios não disponíveis.</p>
        <% } %>
      </div>

      <h3 class="elenco-titulo">Elenco</h3>

      <%
        const temElenco = (atores && atores.length > 0) ||
                          (diretores && diretores.length > 0) ||
                          (roteiristas && roteiristas.length > 0) ||
                          (produtores && produtores.length > 0);
      %>

      <% if (temElenco) { %>

      <% if (atores && atores.length > 0) { %>
      <h4 class="cargo-titulo">Atores</h4>
      <div class="elenco-container">
        <% atores.forEach(ator => { %>
        <div class="pessoa-card">
          <a href="/person-details/<%= ator.pessoa_id %>" class="pessoa-link">
            <span class="pessoa-nome"> <%= ator.nome_ator %> </span>
          </a>
          <span class="personagem-nome"> <%= ator.personagem %> </span>
        </div>
        <% }); %>
      </div>
      <% } %>
      
      <% if (diretores && diretores.length > 0) { %>
      <h4 class="cargo-titulo">Diretores</h4>
      <div class="elenco-container">
        <% diretores.forEach(diretor => { %>
        <div class="pessoa-card">
          <a
            href="/person-details/<%= diretor.pessoa_id %>"
            class="pessoa-link"
          >
            <span class="pessoa-nome"> <%= diretor.nome_diretor %> </span>
          </a>
          <span class="cargo-nome">Diretor(a)</span>
        </div>
        <% }); %>
      </div>
      <% } %>
      
      <% if (roteiristas && roteiristas.length > 0) { %>
      <h4 class="cargo-titulo">Roteirstas</h4>
      <div class="elenco-container">
        <% roteiristas.forEach(roteirista => { %>
        <div class="pessoa-card">
          <a
            href="/person-details/<%= roteirista.pessoa_id %>"
            class="pessoa-link"
          >
            <span class="pessoa-nome"> <%= roteirista.nome_roteirista %> </span>
          </a>
          <span class="cargo-nome">Roteirista</span>
        </div>
        <% }); %>
      </div>
      <% } %>


      <% if (produtores && produtores.length > 0) { %> 
      <h4 class="cargo-titulo">Produtores</h4>
      <div class="elenco-container">
        <%
        produtores.forEach(produtor => { %>
        <div class="pessoa-card">
          <a
            href="/person-details/<%= produtor.pessoa_id %>"
            class="pessoa-link"
          >
            <span class="pessoa-nome">
              <%= produtor.nome_pessoa_produtora %>
            </span>
          </a>
          <span class="cargo-nome">Produtor(a)</span>
        </div>
        <% }); %>
        </div>
      <% } %>

      <% } else { %>
        <p class="mensagem-erro">Informações de elenco não disponíveis.</p>
      <% } %>

      <a href="/" class="back-link">← Voltar para a lista</a>
    </div>
  </body>
</html>
