<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/media-details.css" />
    <title><%= pageTitle %></title>
  </head>

  <body>
    <%- include('../partials/navbar') %>
    <div class="container">
      <h1><%= serie.nome %></h1>
      <div class="media-details">
        <p>
          <strong>Ano:</strong>
          <%= serie.ano_de_inicio %> <% if (serie.ano_de_fim) { %> - <%=
          serie.ano_de_fim %> <% } else { %> - Presente <% } %>
        </p>
        <p>
          <strong>Nota Média:</strong>
          <%= parseFloat(serie.nota).toFixed(1) %> / 10
        </p>
        <p>
          <strong>Temporadas:</strong>
          <%= serie.numero_de_temporadas %>
        </p>
        <p>
          <strong>Faturamento:</strong>
          $ <%= serie.faturamento.toLocaleString('pt-BR') %>
        </p>
        <h3>Sinopse</h3>
        <p><%= serie.sinopse %></p>
      </div>

      <div class="temporadas-container">
        <h3 class="temporada-titulo">Temporadas</h3>

        <% if (temporadas && temporadas.length > 0) { %>
        <% temporadas.forEach((temporada, index) => { %>
        <div class="temporada-card">
          <div class="temporada-header">
            Temporada <%= index + 1 %> (<%= temporada.ano %>)
            <div class="episodio-details">
              <%= temporada.episodios.length %> episódio(s)
            </div>
          </div>

          <ul class="episodios-lista">
            <% if (temporada.episodios && temporada.episodios.length > 0) { %>
            <% temporada.episodios.forEach((episodio, epIndex) => { %>
            <li class="episodio-item">
              <span class="episodio-details">
                T<%= index + 1 %>:E<%= epIndex + 1 %>
              </span>
              <span class="episodio-titulo">
                <a
                  href="/show/<%= temporada.serie_id %>/episode/<%= episodio.id %>"
                > 
                  <%= episodio.titulo %>
                </a>
              </span>
              <span class="episodio-details">
                (<%= episodio.tempo_de_duracao %> min)
              </span>
            </li>
            <% }); %> <% } else { %>
            <li>Nenhum episódio encontrado para esta temporada.</li>
            <% } %>
          </ul>
        </div>
        <% }); %> <% } else { %>
        <p>Informações de temporadas e episódios não disponíveis.</p>
        <% } %>
      </div>

      <h3 class="elenco-titulo">Elenco</h3>
      <div class="elenco-container">
        <% if (atores && atores.length > 0) { %> <% atores.forEach(ator => { %>
        <div class="ator-card">
          <a href="/actor-details/<%= ator.pessoa_id %>" class="ator-link">
            <span class="ator-nome"> <%= ator.nome_ator %> </span>
          </a>
          <span class="ator-personagem"> <%= ator.personagem %> </span>
        </div>
        <% }); %> <% } else { %>
        <p>Informações de elenco não disponíveis.</p>
        <% } %>
      </div>

      <a href="/" class="back-link">← Voltar para a lista</a>
    </div>
  </body>
</html>
